
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Modernize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->
    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="/Content/Admin/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <!-- Bars Css -->
    <link rel="stylesheet" href="/Content/Admin/css/bar.css">
    <!--// Bars Css -->
    <!-- Common Css -->
    <link href="/Content/Admin/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="/Content/Admin/css/style4.css">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="/Content/Admin/css/fontawesome-all.css" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->
    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--//web-fonts-->
</head>

<body>
    <div class="se-pre-con"></div>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1>
                    <a href="index.html">Admin</a>
                </h1>
                <span>M</span>
            </div>
            <div class="profile-bg"></div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/Admin/Home/Index">
                        <i class="fas fa-home"></i>
                        Trang chủ
                    </a>
                </li>
                <li>
                    <a href="#homeSubmenu-o" data-toggle="collapse" aria-expanded="false">
                        <i class="far fa-file-alt"></i>
                        Quản lí đơn hàng
                        <i class="fas fa-angle-down fa-pull-right"></i>
                    </a>

                    <ul class="collapse list-unstyled" id="homeSubmenu-o">
                        <li>
                            <a href="/Admin/QuanLiHoaDon/HDDaGiao">Đã giao</a>
                        </li>
                        <li>
                            <a href="/Admin/QuanLiHoaDon/HDChuaGiao">Chưa giao</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu-p" data-toggle="collapse" aria-expanded="false">

                        <i class="fas fa-tasks"></i>
                        Quản lí sản phẩm
                        <i class="fas fa-angle-down fa-pull-right"></i>
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu-p">
                        <li>
                            <a href="/Admin/QuanLiSanPham/Index">Đang bán</a>
                        </li>
                        <li>
                            <a href="/Admin/QuanLiSanPham/DaXoa">Đã xóa</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/Admin/QuanLiLienHe/Index">
                        <i class="far fa-address-book"></i>
                        Liên hệ
                    </a>
                </li>
                <li>
                    <a href="/Admin/QuanLiTinTuc/Index">
                        <i class="far fa-newspaper"></i>
                        Tin tức, Bài viết
                    </a>
                </li>
                <li>
                    <a href="/Admin/QuanLiTaiKhoan/Index">
                        <i class="far fa-user"></i>
                        Tài khoản thành viên
                    </a>

                </li>
                
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <!-- top-bar -->
            <nav class="navbar navbar-default mb-xl-5 mb-4">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <!-- Search-from -->
                    <form action="#" method="post" class="form-inline mx-auto search-form">
                        <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search" required="">
                        <button class="btn btn-style my-2 my-sm-0" type="submit">Tìm kiếm</button>
                    </form>
                    <!--// Search-from -->
                    <ul class="top-icons-agileits-w3layouts float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="far fa-bell"></i>
                                <span class="badge">0</span>
                            </a>
                            <div class="dropdown-menu top-grid-scroll drop-1">

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            @if (HttpContext.Current.Session["id"] != null)
                            {
                                
                                <div class="dropdown-menu drop-3">
                                    <div class="profile d-flex mr-o">
                                        <div class="profile-r align-self-center">
                                            <span class="sub-title-w3-agileits">@Session["HoTen"]</span>
                                            <a href="mailto:@Session["email"]">@Session["email"]</a>
                                        </div>
                                    </div>
                                    <a href="/Admin/Admin/Edit/@Session["id"]" class="dropdown-item mt-3">
                                        Thông tin cá nhân
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Admin/Login/Logout">Đăng xuất</a>
                                </div>
                            }


                        </li>
                    </ul>
                </div>
            </nav>
            <!--// top-bar -->
            @RenderBody()

        </div>
    </div>


    <!-- Required common Js -->
    <script src="/Content/Admin/js/jquery-2.2.3.min.js"></script>
    <!-- //Required common Js -->
    <!-- loading-gif Js -->
    <script src="/Content/Admin/js/modernizr.js"></script>
    <script>
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
    <!--// loading-gif Js -->
    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->
    <!-- Graph -->
    <script src="/Content/Admin/js/SimpleChart.js"></script>
    <script>
        var graphdata4 = {
            linecolor: "Random",
            title: "Thursday",
            values: [{
                X: "6",
                Y: 300.00
            },
            {
                X: "7",
                Y: 101.98
            },
            {
                X: "8",
                Y: 140.00
            },
            {
                X: "9",
                Y: 340.00
            },
            {
                X: "10",
                Y: 470.25
            },
            {
                X: "11",
                Y: 180.56
            },
            {
                X: "12",
                Y: 680.57
            },
            {
                X: "13",
                Y: 740.00
            },
            {
                X: "14",
                Y: 800.89
            },
            {
                X: "15",
                Y: 420.57
            },
            {
                X: "16",
                Y: 980.24
            },
            {
                X: "17",
                Y: 1080.00
            },
            {
                X: "18",
                Y: 140.24
            },
            {
                X: "19",
                Y: 140.58
            },
            {
                X: "20",
                Y: 110.54
            },
            {
                X: "21",
                Y: 480.00
            },
            {
                X: "22",
                Y: 580.00
            },
            {
                X: "23",
                Y: 340.89
            },
            {
                X: "0",
                Y: 100.26
            },
            {
                X: "1",
                Y: 1480.89
            },
            {
                X: "2",
                Y: 1380.87
            },
            {
                X: "3",
                Y: 1640.00
            },
            {
                X: "4",
                Y: 1700.00
            }
            ]
        };
        $(function () {
            $("#Hybridgraph").SimpleChart({
                ChartType: "Hybrid",
                toolwidth: "50",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: false,
                data: [graphdata4],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: 'Weekly Profit',
                yaxislabel: 'Profit in $'
            });
        });
    </script>
    <!--// Graph -->
    <!-- Bar-chart -->
    <script src="/Content/Admin/js/rumcaJS.js"></script>
    <script src="/Content/Admin/js/example.js"></script>
    <!--// Bar-chart -->
    <!-- Calender -->
    <script src="/Content/Admin/js/moment.min.js"></script>

    <!-- profile-widget-dropdown js-->
    <script src="/Content/Admin/js/script.js"></script>
    <!--// profile-widget-dropdown js-->
    <!--  <script src='Content/Admin/js/amcharts.js'></script> -->
    <!--// pie-chart -->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!-- Js for bootstrap working-->
    <script src="/Content/Admin/js/bootstrap.min.js"></script>
    <!-- //Js for bootstrap working -->
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>

</html>