
@{
    ViewBag.Title = "LuLu Shop";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<!--banner-starts-->
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="~/Content/images/banner1.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/images/banner2.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/images/banner3.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<!--banner-ends-->
<!--about-starts-->
<div class="about">
    <div class="container">
        <div class="about-top grid-1">
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/Content/images/cho1.jpg" alt="" />
                    <figcaption>
                        <h2>Chó</h2>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/Content/images/topProd1.jpg" alt="" />
                    <figcaption>
                        <h4>Mèo</h4>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/Content/images/tho.jpg" alt="" />
                    <figcaption>
                        <h4>Thỏ</h4>

                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-end-->
<!--product-starts-->
<div class="product">
    <div class="container">
        <div class="product-top">
            <div class="product-one">
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/cho1.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3> <a href="single.html" class="mask">Chó Coctan</a></h3>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/meo1.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3> <a href="single.html" class="mask">Chó Shika</a></h3>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/meo2.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3> <a href="single.html" class="mask">Mèo Mướp</a></h3>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/cho2.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3> <a href="single.html" class="mask">Chó Lanta</a></h3>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="product-one">
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/tho.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3> <a href="single.html" class="mask">Thỏ Xám</a></h3>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/tho2.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3> <a href="single.html" class="mask">Thỏ ISha</a> </h3>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/meo4.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3> <a href="single.html" class="mask">Mèo Copa</a></h3>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/cho5.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3> <a href="single.html" class="mask">Chó Phốc</a></h3>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--product-end-->