
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

@Html.Partial("BreadcrumbsPartial", "Shared")

<!-- Introduce- start -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

            <img src="~/Content/images/Int2.jpg" alt="" class="responsive">
            <div class="chuthich">
                <p> Sự hài lòng của Quý khách hàng là thành công của chúng tôi! </p>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="thumbnail">
                <p><b class="far fa-thumbs-up"></b> Cam kết giá tốt nhất, chúng tôi cam kết tới khách hàng những sản phẩm tốt nhất và mức giá thấp nhất.</p>
            </div>
            <div class="thumbnail">
                <p><b class='fas fa-bus-alt'></b> Giao hàng toàn quốc, giao hàng tới 64 tỉnh thành với giá cước hợp lý nhất. Đảm bảo thời gian tốt nhất. </p>
            </div>
            <div class="thumbnail">
                <p><b class="far fa-clock"></b> Phục vụ 24/24, giao hàng tới 64 tỉnh thành với giá cước hợp lý nhất. Thời gian đối với chúng tôi là vàng. </p>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="thongtin">
                    <h2>Giới thiệu cửa hàng</h2>
                    <div class="sao">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <h4>LULU SHOP</h4>
                    <p>Một trong những cửa hàng bán thú cưng lớn nhất cả nước, được khách hàng tin tưởng. <br>Với đội ngũ nhân viên chuyên nghiệp, có thái độ phục vụ và tư vấn tận tình. </p>
                    <p>- Chuyên cung cấp thú cưng có  chất lượng uy tín, giá cả phải chăng và được tiêm phòng đầy đủ.</p>
                    <p>- Cung cấp thú cưng có xuất xứ rõ ràng, được tiêm phòng đầy đủ và đa dạng về chủng loại để khách hàng có thể dễ dàng lựa chọn trước khi mua hàng. Sức khỏe thú cưng được ưu tiên lên hàng đầu.</p>
                    <p>Đến với LULU SHOP Quý khách sẽ được tư vấn mua sản phẩm, được cung cấp những sản phẩm chất lượng theo yêu cầu, chính sách giao hàng tận nơi và luôn luôn lắng nghe nhu cầu của khách hàng.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
