
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

@Html.Partial("BreadcrumbsPartial", "Shared")

<!--news-starts-->
<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 news-left">
                <article class="news-one">
                    <div class="col-md-4 news-image">
                        <a href="#"><img src="~/Content/images/meo1.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-md-8 news-content">
                        <header>
                            <h1 class="title-news"><a href="#">Lợi ích khi nuôi thú cưng trong nhà</a></h1>
                            <span class="date-news">Tháng Sáu 30, 2018</span>
                        </header>
                        <main>
                            <p>Việc nuôi một con thú nhỏ trong nhà sẽ giúp bạn giảm stress, cải thiện bệnh về huyết áp, ngăn ngừa dị ứng và tốt cho tim mạch. Hơn nữa, khi đi...</p>
                        </main>
                        <div class="news-share">
                            <h3>Chia sẻ ngay</h3>
                            <ul class="icon-share">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google"></span></a></li>

                            </ul>
                        </div>
                    </div>


                </article>
                <article class="news-one">
                    <div class="col-md-4 news-image">
                        <a href="#"><img src="~/Content/images/meo5.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-md-8 news-content">
                        <header>
                            <h1 class="title-news"><a href="#">Chăm sóc, vuốt ve: Nhưng lũ mèo chỉ đang coi bạn như một con khỉ thôi</a></h1>
                            <span class="date-news">Tháng Sáu 30, 2018</span>
                        </header>
                        <main>
                            <p>Rất ít người biết cách lắng nghe và tôn trọng thế giới của loài mèo.</p>
                        </main>
                        <div class="news-share">
                            <h3>Chia sẻ ngay</h3>
                            <ul class="icon-share">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google"></span></a></li>

                            </ul>
                        </div>
                    </div>


                </article>
                <article class="news-one">
                    <div class="col-md-4 news-image">
                        <a href="#"><img src="~/Content/images/cho2.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-md-8 news-content">
                        <header>
                            <h1 class="title-news"><a href="#">Dinh dưỡng và thức ăn cho chó</a></h1>
                            <span class="date-news">Tháng Sáu 30, 2018</span>
                        </header>
                        <main>
                            <p>Thức ăn chính của chó là thịt, nếu cho được cho ăn thịt đều đặn thì sẽ không bao giờ thiếu chất. Đây là điều cơ bản và quan trọng bạn luôn...</p>
                        </main>
                        <div class="news-share">
                            <h3>Chia sẻ ngay</h3>
                            <ul class="icon-share">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google"></span></a></li>

                            </ul>
                        </div>
                    </div>


                </article>
                <article class="news-one">
                    <div class="col-md-4 news-image">
                        <a href="#"><img src="~/Content/images/cho1.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-md-8 news-content">
                        <header>
                            <h1 class="title-news"><a href="#">Tại sao một số con chó không bao giờ lớn?</a></h1>
                            <span class="date-news">Tháng Sáu 30, 2018</span>
                        </header>
                        <main>
                            <p>Tại sao một số con chó không bao giờ lớn?Từ những chú cún Chihuahua nhỏ xíu có thể để vừa trong chiếc túi xách tay, đến những...</p>
                        </main>
                        <div class="news-share">
                            <h3>Chia sẻ ngay</h3>
                            <ul class="icon-share">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google"></span></a></li>

                            </ul>
                        </div>
                    </div>


                </article>

                <div class="pagenatin">
                    <div class="col-sm-4 col-xs-12 col-sm-offset-4">
                        <nav>
                            <ul class="pagination">
                                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li><a href="#" id="page1">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 news-right">
                <div class="w_sidebar">
                    <section class="sky-form">
                        <h4>Phân loại tin tức</h4>
                        <div class="row1 row2 scroll-pane">

                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Chó</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Mèo</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Thỏ</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Hamster</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Nhím</label>
                            </div>
                        </div>
                    </section>

                    <section class="news-new sky-form">
                        <h4>Tin tức mới nhất</h4>
                        <div class="news-new-one">
                            <div class="news-new-img">
                                <a href="#"><img src="~/Content/images/meo1.jpg" alt=""></a>
                            </div>
                            <div class="news-new-cont">
                                <h4><a href="#">Lợi ích khi nuôi  ...</a></h4>
                                <span>Tháng Sáu 22, 2018</span>
                            </div>
                        </div>
                        <div class="news-new-one">
                            <div class="news-new-img">
                                <a href="#"><img src="~/Content/images/meo5.jpg" alt=""></a>
                            </div>
                            <div class="news-new-cont">
                                <h4><a href="#">Chăm sóc, vuốt ve ...</a></h4>
                                <span>Tháng Sáu 26, 2018</span>
                            </div>
                        </div>
                        <div class="news-new-one">
                            <div class="news-new-img">
                                <a href="#"><img src="~/Content/images/cho2.jpg" alt=""></a>
                            </div>
                            <div class="news-new-cont">
                                <h4><a href="#">Dinh dưỡng và thức...</a></h4>
                                <span>Tháng Sáu 25, 2018</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>

<!--news-end -->